net "clk" loc="T9";
net "button_disp[2]" loc = "h14";
net "button_disp[1]" loc = "g12";
net "button_disp[0]" loc = "f12";
net "button_disp[3]" loc = "h13";
net "button_cclt[4]" loc = "H4";
net "button_cclt[3]" loc = "k13";
net "button_cclt[2]" loc = "k14";
net "button_cclt[1]" loc = "j13";
net "button_cclt[0]" loc = "j14";
net "button_shift[3]" loc = "l14";
net "button_shift[2]" loc = "l13";
net "button_shift[1]" loc = "m14";
net "button_shift[0]" loc = "m13";
net "inc_in[7]" loc = "D7";
net "inc_in[6]" loc = "C7";
net "inc_in[5]" loc = "E7";
net "inc_in[4]" loc = "C6";
net "inc_in[3]" loc = "D6";
net "inc_in[2]" loc = "C5";
net "inc_in[1]" loc = "D5";
net "inc_in[0]" loc = "E6";
net "dec" loc = "m10";
net "segment[0]" loc = "e14";
net "segment[1]" loc = "g13";
net "segment[2]" loc = "n15";
net "segment[3]" loc = "p15";
net "segment[4]" loc = "r16";
net "segment[5]" loc = "f13";
net "segment[6]" loc = "n16";
net "segment[7]" loc = "p16";
NET "segment[8]"  LOC = "C8"  ;
NET "segment[9]"  LOC = "D8"  ;
NET "segment[10]"  LOC = "C9"  ;
NET "segment[11]"  LOC = "D10"  ;
NET "segment[12]"  LOC = "A3"  ;
NET "segment[13]"  LOC = "B4"  ;
NET "segment[14]"  LOC = "A4"  ;
NET "segment[15]"  LOC = "B5"  ;
net "anode[0]" loc = "B11";
net "anode[1]" loc = "A10";
net "anode[2]" loc = "B10";
net "anode[3]" loc = "A9";
net "anode[4]" loc = "A8";
net "anode[5]" loc = "B8";
net "anode[6]" loc = "A7";
net "anode[7]" loc = "B7";
net "anode[8]" loc = "D14";
net "anode[9]" loc = "G14";
net "anode[10]" loc = "F14";
net "anode[11]" loc = "E13";
net "finalerror" loc = "p11";